<div class="container"> 
    <div class="imgDisplay">
        <img src="../../../assets/dia-mundial-do-livro.png" alt="Logo do site">
    </div>
    <div class="content">
        <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" routerLink="/newAdmin" routerLinkActive="active">New Admin</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/newBook" routerLinkActive="active">New Book</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/allBooks" routerLinkActive="active">All Books</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/allAdmins" routerLinkActive="active">All Admins</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/allErrands" routerLinkActive="active">All Errands</a>
            </li>
          </ul>
    </div>
</div>
