<header class="sticky-top">
  <nav
    class="navbar navbar-expand-lg bg-body-tertiary"
  >
    <a class="navbar-brand" href="#" 
      ><img src="../../../assets/dia-mundial-do-livro.png" alt="" />Livraria</a
    >
    <div class="container-fluid">
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <form class="d-flex w-100 justify-content-center" (submit)="onSearch($event)">
          <input 
            type="text" 
            placeholder="Search books..." 
            [(ngModel)]="searchTerm"
            name="search"
            [ngModelOptions]="{standalone: true}"
            (input)="onSearch()" 
            class="searchInput"/>
        </form>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#"
              ><i class="fa-solid fa-heart fa-2xl"></i
            >Fav</a>
          </li>
          <li class="nav-item">
            <button class="nav-link" href="#" *ngIf="userName" (click)="navigateToPage('profile')"
              ><i class="fa-solid fa-user fa-2xl"></i
            >{{userName}}</button>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav flex-fill">
          <li class="nav-item">
            <a class="nav-link" href="#">MY CART</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">WISH LIST</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/newErrand" routerLinkActive="active">CONTACT</a>
          </li>
          <li class="nav-item" *ngIf="!hideUsersAndBooks">
            <a class="nav-link" href="#">USERS</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
