<app-header></app-header>
<div class="main-container">
    <div class="container">
        <div class="img">
            <img src="../../../assets/dia-mundial-do-livro.png" alt="Book Image">
        </div>
    </div>
    <div class="contact">
        <p>Contact Us</p>
            <form class="message">
                <input type="text" placeholder="E-mail:" class="form-control" name="Email" [(ngModel)]="contact.email">
                <input type="text" placeholder="Full Name:" class="form-control" name="Name" [(ngModel)]="contact.name">
                <input type="text" placeholder="Message:" class="form-control" name="Message" [(ngModel)]="contact.message">
                <button class="contact-us" value="Register" (click)="register()">Contact Us</button>
            </form>
    </div>
</div>